@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Ürünler</h1>
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    @* <a asp-controller="Home" asp-action="Details" asp-route-id="@product.Id">
                        <img src="@product.Image" class="card-img-top" style="height: 200px; object-fit: cover;" />
                    </a> *@
                    <a href="@Url.Action("Details","Home", new {id=product.Id})">
                        <img src="@product.Image" class="card-img-top" style="height: 200px; object-fit: cover;" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@product.Title</h5>
                        <p class="card-text">
                            @product.Description.Substring(0, Math.Min(100, product.Description.Length))
                        </p>
                        <p class="card-text">@product.Price</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
